<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kasmith-SRT621-Lab 10</title>
    <style>
      body{
        background-color: rgb(90, 179, 207);
        margin-top: 100px;
      }
      .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(167, 160, 160);
   color: rgb(250, 239, 239);
   text-align: center;
}
      #list{
        text-align: center;
        color: black;
        width: 560px;
        height: 29px;
        background-color: white;
        padding: 18px; 
        margin-top: auto;   
        margin-left: 0.4in;  
      }
      #box{
        text-align: center;
        width: 690px;
        height: 325px;
        background-color: rgb(165, 165, 165);
        font-size: 20px; 
        padding: 45px; 
        margin-left: 3.5in;    
      }
    </style>
     </head>
     <body>
       <h1 style ="text-align:center" >Click On Any Book To See The Details</h1>
       <div id="box">
         <% let i = 0 %>
<% subscribers.forEach(s=>
{ i ++;
    %> <p id="list">
      <b><a href="http://localhost:3000/books/<%=i%>" target="_blank"><%=s.bookName %></a></b>
      
    </p>
    
    <hr/>
<%});
%>
</div>
   
<div class="footer">
  <h4> <a href="http://localhost:3000/home"> List of Books</a> | <a href="http://localhost:3000/addNewBook"> Add new books</a>   |  <a href="http://localhost:3000/DeleteABook">  Delete A Book</a>  </h4>
</div>

</body>
</html>