<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookNumber 1</title>
    <style>
     
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(167, 160, 160);
   color: rgb(250, 239, 239);
   text-align: center;
        
      }
     
     
    </style>
  </head>
  <body>
   
Data was successfully saved!

<div class="footer">
  <h4> <a href="http://localhost:3000/subscribers"> List of Books</a> | <a href="http://localhost:3000/addNewBook"> Add new books</a>   |  <a href="http://localhost:3000/DeleteABook">  Delete A Book</a>  </h4>
</div>
</body>
</html>
