<!DOCTYPE html>

<html>
 <body>
<div id="header">
<header>
    <h1 align="center">Welcome To Mobasery Library</h1>
</header>

<table width = "100%" border = "0">
         
    <tr>
       <td colspan = "2">
          <h3 align="center">List of Books Available</h3>
       </td>
    </tr>
    <tr valign = "top">
       <td  width = "150">
        
         
<div class="container">
    <p> <a href="index.html">Home</a> </p>
    <p> <a href="books.html">Books</a> </p>
     </div>
       </td>
       
       <td >
        <a href="book1.html">
            <img src="shakesp.jpg" alt="bk1" width="150" height="200" align="left"/></a>
            <h4> <a href="book1.html">Masterpiece</a></h4>
            </p> 
            <br><br><br><br><br><br><br><br>
                <p><a href="book2.html"> <img src="kite.jpg" alt="bk2" width="150" height="200" align="left"/></a> </p> <h4> <a href="book2.html">Kite Runner</a></h4>
                <br><br><br><br><br><br><br><br>
                <p><a href="book3.html"><img src="lonely.jpg" alt="bk3" width="150" height="200" align="left"/></a> </p> <h4> <a href="book3.html">The End of Loneliness</a></h4>
                <br><br><br><br><br><br><br><br>
                
                
       </td>
    </tr>
    
    
 </table>

 </body>
  
</html>