<!DOCTYPE html>

<html>
 <body>
<div id="header">
<header>
    <h1 align="center">Mobasery Library</h1>
</header>

<table width = "100%" border = "0">
         
    <tr>
       <td colspan = "2">
          <h3 align="center">Book 1 </h3>
       </td>
    </tr>
    <tr valign = "top">
      <td  width = "150">
        
         
<div class="container">
    <p> <a href="index.html">Home</a> </p>
    <p> <a href="books.html">Books</a> </p>
     </div>
       </td>
       
       <td>
        <p><img src="shakesp.jpg" alt="bk1" width="275" height="410" align="left"/></p>
<h2>Masterpieces Of The English Short Novel</h2><p> <b>The Author:</b>Samauel Johnson et al.<h3>Nine Complete Short Novels</h3>
   <b>Edited:</b>by Kenneth H. Brown
    <br><b>Published:</b>by Arcade</p>
    <p><cite>These nine novels are "the best of the best"great writing by some of the most brilliant literary minds of the 18th and 19th centuries.

        Samuel Johnson's biography of Richard Savage raises the life of a scoundrel to the level of great art; George Eliot profoundly influenced Henry James with her horror story, The Lifted Veil; Le Fanu writes a "sinister but gracious" supernatural Gothic; Nightmare Abbey is Thomas Love Peacock's satire on his friends, the Romantic poets Shelley, Coleridge, and Byron.
      </cite></p>
    </div>
       </td>
    </tr>
       
 </table>
</body>
<html>




    
 