<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BookNumber 2</title>
    <style>
      body{
        background-color: rgb(246, 246, 249);
        margin-top: 100px;
      }
      #box {
        width: 500px;
        height: 120px;
        background-color: rgb(165, 165, 165);
        font-size: 20px;
        padding: 10px;
     
      }
      p {
       
        color: black;
        width: 400px;
        height: 30px;
        background-color: rgb(161, 208, 237);
        padding: 10px;
        margin-top: auto;
       
      }
    </style>
 
  </head>

  <body>
    <a href="http://localhost:3000/home"> <--Home</a>
    
    <h2><%=subscribers.bookName %></h2>
    <div id="box">
      <p style="margin-left: 0.4in"><b>Author:</b><%=subscribers.Author %></p>
      <p style="margin-left: 0.4in"><a href="<%=subscribers.Purchaselink%>" target="_blank">Buy on Amazon!</a></p>
    </div>
  </body>
</html>
