<% subscribers.forEach(s=>
{
    %> <p>
        <b>Book Name:</b>
        <%= s.bookName %>
    </p>
    <p>
        <b>Author's Name:</b>
        <%= s.Author %>
    </p>
    <p>
        <b>Purchase Link:</b>
        <%= s.Purchaselink %>
    </p>
    <hr/>
<%});
%>