<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kasmith_SRT621-Lab9</title>
    <h1>Kasmith Welcomes You To SRT621 Mario World!!</h1>
</head>
<body>
</br>
    <%- include('partials/body') %>
</body>
</html>