<!DOCTYPE html>

<html>
 <body>
<div id="header">
<header>
    <h1 align="center">Mobasery Library</h1>
</header>

<table width = "100%" border = "0">
         
    <tr>
       <td colspan = "2">
          <h3 align="center">Book 2</h3>
       </td>
    </tr>
    <tr valign = "top">
      <td  width = "150">
        
         
<div class="container">
    <p> <a href="index.html">Home</a> </p>
    <p> <a href="books.html">Books</a> </p>
    </div>
       </td>
       
       <td >
        <p><img src="kite.jpg" alt="bk1" width="275" height="410" align="left"/></p>
<h2>Kite Runner</h2><p> <b>The Author:</b>Khaled Housseini
<br><b>Originally Published:</b> May 29, 2003 by Riverhead Books </p>
<p><cite>The Kite Runner is the first novel by Afghan-American author Khaled Hosseini. Published in 
    2003 by Riverhead Books, it tells the story of Amir, a young boy from the Wazir Akbar Khan district of Kabul.
    The unforgettable, heartbreaking story of the unlikely friendship between a wealthy boy and 
    the son of his fathers servant, The Kite Runner is a beautifully crafted novel set in a country 
    that is in the process of being destroyed. It is about the power of reading, the price of betrayal, 
    and the possibility of redemption; and an exploration of the power of fathers over son ...more</cite></p>
    
       </td>
    </tr>
       
 </table>
</body>
<html>

