<!DOCTYPE html>

<html>
 <body>
<div id="header">
<header>
    <h1 align="center">Mobasery Library</h1>
</header>

<table width = "100%" border = "0">
         
    <tr>
       <td colspan = "2">
          <h3 align="center">Book 3 </h3>
       </td>
    </tr>
    <tr valign = "top">
      <td  width = "150">
        
         
<div class="container">
    <p> <a href="index.html">Home</a> </p>
    <p> <a href="books.html">Books</a> </p>
   
  </div>
       </td>
       
       <td >
        <p><img src="lonely.jpg" alt="bk1" width="275" height="410" align="left"/></p>
        <h2>The End of the Loneliness</h2><p> <b>The Author:</b>Benedict Wells<br> Translated by Charlotte Collins
        <br>Originally published: May 29, 2003 by Riverhead Books </p>
        <p><cite>Jules Moreau's childhood is shattered after the sudden death of his parents. 
            Enrolled in boarding school where he and his siblings, Marty and Liz, are forced to live apart, 
            the once vivacious and fearless Jules retreats inward, preferring to live within his memories
             until he meets Alva, a kindred soul caught in her own grief. Fifteen years pass and the siblings 
             remain strangers to one another, bound by tragedy and struggling to recover the family they once were. 
             Jules, still adrift, is anchored only by his desires to be a writer and to reunite with Alva, who turned 
             her back on their friendship on the precipice of it becoming more. But, just as it seems they can make amends 
             for time wasted, invisible forces whether fate or chance intervene.
        A kaleidoscopic family saga told through the fractured lives of the three Moreau siblings,
         alongside a faltering, recovering love story, The End of Loneliness is a stunning meditation
          on the power of our memories, of what can be lost and what can never be let go...more</cite></p>
                
       </td>
    </tr>
       
 </table>
</body>
<html>
