<!DOCTYPE html>

<html>
 <body>
<div id="header">
<header>
    <h1 align="center">Welcome To Mobasery Library</h1>
</header>

<table width = "100%" border = "0">
         
    <tr>
       <td colspan = "2">
          <h3 align="center">Explore our wide variety of books by using the navigation pane on the left</h3>
       </td>
    </tr>
    <tr valign = "top">
      <td  width = "150">
        
         
<div class="container">
    <p> <a href="index.html">Home</a> </p>
    <p> <a href="books.html">Books</a> </p>
      </div>
       </td>
       
       <td >
        
       </td>
    </tr>
       
 </table>
</body>
<html>
